:root {
    --color-blue: #49ABC1;
    --gradient:  linear-gradient(0deg, #49abc1 0%, rgba(48, 110, 124, 0.95) 49.12%, rgba(23, 47, 53, 0.05) 100%);
    --color-gray: #EEEEEE;
}

body {
    font-family: 'Jost', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.fs-title {
    font-size: clamp(1.625rem, 0.825rem + 4vw, 5.625rem);
}

.fs-title-2 {
    font-size: clamp(3rem, 2.875rem + 0.625vw, 3.625rem);
}

.fs-title-3 {
    font-size: clamp(1.75rem, 1.575rem + 0.875vw, 2.625rem);
}
.fs-title-4{
    font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
}
.fs-paragraph {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.fs-paragraph-2{
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.fs-section-title {
    font-size: clamp(1.75rem, 1.375rem + 1.875vw, 3.625rem);
}

.fs-span {
    font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}

.text-balance {
    text-wrap: balance;
}

.text-blue {
    color: var(--color-blue);
}

.bg-blur {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.bg-blue{
    background: var(--color-blue);
}
.bg-gray{
    background: var(--color-gray);
}
.w-fit-content {
    width: fit-content;
}

.btn {
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
    width: clamp(180px, 10vw + 120px, 240px);
    border-radius: 50px;
}

.btn-short {
    width: fit-content;
}

.btn-white {
    background: white;
}
.btn-blue{
    background: var(--color-blue);
    color: white;
}
.btn-transparent {
    border: 1px solid white;
    border-radius: 50px;
    color: white;
}
.btn-transparent-blue{
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}
.btn-transparent-white{
    outline: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.btn-transparent-white:hover{
    outline: unset;
    background: var(--color-blue);
    color: white;
}
.cursor-pointer {
    cursor: pointer;
}
.one-line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.two-line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/*main styles*/

.banner {
    width: 100%;
}

.navbar-nav {
    border-radius: 45px
}

.nav-link {
    color: white;
    transition: all 0.3s ease;
    padding-right: 30px !important;
    padding-left: 30px !important;
    font-size: 16px;
}

.nav-link:hover,
.nav-link-language.active {
    color: #262626;
    background: white;
    border-radius: 40px;
    font-weight: 500;
}

.nav-link-language {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.navbar-toggler-icon {
    background-image: url('icons/burger.svg');
}

.navbar-toggler:focus {
    box-shadow: none;
}

.caption {
    display: none;
}

.image-slider .splide__slide {
    transform: scale(0.8) translateY(40px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.image-slider .splide__slide.is-active {
    transform: scale(0.95, 0.8) translateY(-30px);
    z-index: 2;
}

.image-slider .splide__slide.is-active .caption {
    display: block;
}

.custom-progress {
    height: 4px;
    width: 80%;
    background: linear-gradient(to right, #ffffff var(--progress, 0%), #ffffffaf 0%);
    border-radius: 20px;
    transition: background 0.3s ease;
}

.custom-progress.dark {
    background: linear-gradient(to right, #000000bd var(--progress, 0%), #a1a1a1ab 0%);
    width: 60%;
}

.caption-title {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.avatar-list img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.avatar-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 2.5rem);
}

.avatar-list li {
    transition: all 0.2s ease;
}

.avatar-list li:hover~li {
    translate: 1rem;
}

.avatar-container {
    border-radius: 50px;
    position: relative;
}

.avatar-span {
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
}

.border-blue {
    border: 1px solid var(--color-blue);
}

.btn-box {
    right: 2%;
    top: -10%;
}

.raiting {
    top: 5%;
    right: 5%;
    background: white;
    border-radius: 50px;
}
.date{
    top: 5%;
    right: 5%;
}
.margin-top-custom{
    margin-top: -3rem;
}
.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding-left: 0;
    width: 40%;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.gradient-container-info{
    bottom: 0;
    background: var(--gradient);
    left: 0;
    height: 50%;
    width: 100%;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
.form-check-input:focus {
    border-color: white;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: transparent;
    border-color: white;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
    }
}
@media (max-width: 1400px) {
    .nav-link {
        padding-right: 15px !important;
        padding-left: 15px !important;
        font-size: 16px;
    }
    .avatar-list img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .avatar-list {
        grid-template-columns: repeat(auto-fit, 2rem);
    }
}

@media (max-width: 990px) {
    .nav-link {
        font-size: 18px;
    }
    .language-bar {
        width: fit-content;
        flex-direction: row;
    }
    .btn-box {
        right: unset;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    .form-control{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
    }
    .splide__slide img {
        width: 90%;
        margin: 0 auto;
        display: block;
        height: 300px;
    }
}

@media (max-width: 576px) {
    .image-slider .splide__slide {
        transform: unset;
    }
    .image-slider .splide__slide.is-active {
        transform: unset;
    }
    .form-control{
        width: 100%;
    }
    .w-sm-200{
        width: 200px;
    }
    .logo_footer{
        width: 170px;
    }
}